@import url('./__item/cards__item.css');
@import url('./__column/cards__column.css');
@import url('./__title/cards__title.css');
@import url('./__image/cards__image.css');
@import url('./__website/cards__website.css');
@import url('./__url-heading/cards__url-heading.css');
@import url('./__link/cards__link.css');
@import url('./__paragraph/cards__paragraph.css');

.cards {
  max-width: 984px;
  display: grid;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0 auto
}

@media screen and (max-width:1024px) {
  .cards {
    max-width: 928px;
  }
}

@media screen and (max-width:768px) {
  .cards {
    max-width: 720px;
    gap: 72px;
  }
}

@media screen and (max-width:320px) {
  .cards {
    max-width: 320px;
    gap: 48px;
  }
}
