.cards__column {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.cards__column:last-of-type {
  margin-right: 0;
}

@media screen and (max-width:1024px) {
  .cards__column {
    margin-right: 32px;
  }
}

@media screen and (max-width:768px) {
  .cards__column {
    margin-right: 28px;
  }
}

@media screen and (max-width:320px) {
  .cards__column {
    max-width: 288px;
    margin: 0 auto;
  }
  .cards__column:last-of-type {
    margin: 32px auto 0;
  }
}

