.photo-grid__list {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(3, minmax(213px, 1fr));
  gap: 16px;
}

@media screen and (max-width:1024px) {
  .photo-grid__list {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, minmax(225px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width:768px) {
  .photo-grid__list {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(6, minmax(264px, 1fr));
  }
}

@media screen and (max-width:600px) {
  .photo-grid__list {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(12, minmax(216px, 1fr));
  }
}
