
.header__link-lang {
  color: #FFFFFF;
  line-height: 1.17;
  font-size: 24px;
  text-align: right;
  font-family: 'Inter', 'Arial',  sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

@media screen and (max-width:425px) {
  .header__link-lang {
    font-size: 18px;
    line-height: 1.33;
  }
}
