@import url('./__navigation/header__navigation.css');
@import url('./__list-links/header__list-links.css');
@import url('./__link-lang/header__link-lang.css');
@import url('./__link-lang/_active/header__link-lang_active_true.css');
@import url('./__logo/header__logo.css');
.header {
  width: 92%;
  padding-top: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width:1024px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width:768px) {
  .header {
    width: 94%;
  }
}

@media screen and (max-width:425px) {
  .header {
    width: 90%;
  }
}
