.place__main-text {
    width: 47%;
    margin-left: 40px;
    box-sizing: border-box;

}


@media screen and (max-width:1024px) {
    .place__main-text {
      margin-left: 32px;
    }
}

@media screen and (max-width:600px) {
    .place__main-text {
      width: 95%;
      margin: 32px 0 0;
    }
}

@media screen and (max-width:425px) {
  .place__main-text {
    width: 90%;
    margin: 32px auto 0;
  }
}

