@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');

.intro {
  max-width: 690px;
  padding-left: 148px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width:768px) {
  .intro {
    max-width: 720px;
    padding-left: 24px;
    margin: 0 auto 64px;
  }
}

@media screen and (max-width:425px) {
  .intro {
    max-width: 343px;
    padding-left: 0;
  }
}

@media screen and (max-width:320px) {
  .intro {
    max-width: 288px;
  }
}