@import url('./_margin/place__website_margin_l.css');
@import url('./_margin/place__website_margin_s.css');

.place__website {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-left: 40px;
}

@media screen and (max-width:1024px) {
  .place__website {
    width: 45%;
    margin-left: 32px;
  }
}

@media screen and (max-width:768px) {
  .place__website {
    margin-left: 28px;
  }
}

@media screen and (max-width:600px) {
  .place__website {
    display: none;
  }
}
