@import url('./_margin/cards__website_margin_l.css');
@import url('./_margin/cards__website_margin_s.css');

.cards__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 48px;
}

@media screen and (max-width:768px) {
  .cards__website {
    max-width: 352px;
  }
}

@media screen and (max-width:320px) {
  .cards__website {
    display: none;
  }
}
